.tbl-resume {
    width: 100%;
    margin: 0px 10px;
}
.first-col {
    width: 15%;
}

.my-img {
    float: left;
}

.personal-details {
    margin-top: 10px;
    float: right;
    position: relative;
}

hr {
    width: 100%
}

table {
    border: 0px;
}
