---
---

@import "{{ site.theme }}";

body {
	font-size: 14px;
}

header {
	display: none;
}
.container {
	margin-top: 20px;
}
.my-img {
	float: left;
	min-width: 145px;
}
hr {
	width: 100%;
}
span {
	margin-left: 510px
}
h2 {
	margin-top: 50px;
}
strong {
	color: #b5e853;
}
a {
	color: #b5e853;
	text-shadow: 0 0 0px;
}
th {
	color: #b5e853;
}
code {
	background: rgba(240,246,252,0.15) !important;
	color: #c9d1d9 !important;
	font-size: 0.85rem;
	font-weight: 100;
	border-radius: 5px !important;
}
@media (max-width: 1024px) {
	span {
		margin-left: 430px;
	}
}
@media (max-width: 968px) {
	span {
		margin-left: 375px;
	}
}
@media (max-width: 892px) {
	span {
		margin-left: 305px;
	}
}
@media (max-width: 768px) {
	span {
		margin-left: 193px;
	}
}
@media (max-width: 668px) {
	span {
		margin-left: 103px;
	}
}
@media (max-width: 568px) {
	span {
		margin-left: 13px;
	}
}
@media (max-width: 468px) {
	span {
		margin-left: -10px;
	}
	.my-img {
		max-width: 105px;
	}
}
@media (max-width: 400px) {
	span {
		display: none;
	}
	.my-img {
		display: none;
	}
}
