---
---

@import "{{ site.theme }}";

header {
	display: none;
}
.container {
	margin-top: 20px;
}
.my-img {
	float: left;
	min-width: 145px;
}
hr {
	width: 100%;
}
span {
	margin-left: 510px;
}
strong {
	color: #b5e853;
}
