---
---

@import "{{ site.theme }}";

header {
	display: none;
}
.container {
	margin-top: 20px;
}
div {
	float: right;
}
.my-img {
	float: left;
}
#swat {
	float: right;
}
#92-332-948-1994 {
	float: right;
}
#magnificentknightgmailcom {
	float: right;
}
#jehangir-wahid {
	float: right;
}
hr {
	width: 100%;
}
span {
	margin-left: 510px;
}
ul li {
	list-style-type: square;
}
